font {
  src: url('../fonts/BebasNeue/BebasNeue Thin.otf') format('opentype');
}

body {
  background-image: url("moon.jpeg");
  background-attachment: fixed;
  background-size:100%;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  text-align: center;
  font-family: Ubuntu Mono;
  color: 	#ffffff;
  font-weight: 575;
}


h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 25px	#ffff99, 0 0 5px 	#ffff99;
  font-family: Ubuntu Mono;
}

p {
  text-align: center;
  font-family: Ubuntu Mono;
  text-shadow: 1px 1px 2px black, 0 0 25px 	#ffff99, 0 0 5px 	#ffff99;
}

#profileIcon {
  border:solid 6px;
  border-color:#514573;
  border-radius:100%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body, html {
  height: 100%;
  display: grid;
}

.container {
  margin: auto;
  text-align: center;
}

i{
  color: #463E6D;
}

.fade-in, h1 {
  display: inline-block;
  color: black;
  text-transform: none;
  margin: 0 20px;
  opacity: 0.0;
  animation: fadeIn 1s linear forwards;
  -webkit-animation: fadeIn 1s linear forwards;
}
  
@keyframes fadeIn {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

@-webkit-keyframes fadeIn {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .h1 {
    font-size: 17px !important;
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .h1 {
    font-size: 38px !important;
  }
}