font {
  src: url('../fonts/BebasNeue/BebasNeue Thin.otf') format('opentype');
}

body {
  background-image: url("moon.jpeg");
  background-attachment: fixed;
  background-size:100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  font-family: Ubuntu Mono;
  color: 	#ffffff;
  font-weight: 575;
}

h1 {
  text-align: center;
  padding-top: 8%;
  text-shadow: 1px 1px 2px black, 0 0 25px	#ffff99, 0 0 5px 	#ffff99;
  font-family: Ubuntu Mono;
}

p {
  text-align: center;
  font-family: Ubuntu Mono;
  text-shadow: 1px 1px 2px black, 0 0 25px 	#ffff99, 0 0 5px 	#ffff99;
  
}

#profileIcon {
  border:solid 6px;
  border-color:#514573;
  border-radius:100%;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

body, html {
  height: 100%;
  display: grid;
}

.container {
  margin: auto;
  text-align: center;
}

i{
  color: #b30047;
}



/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
